@model UcpPraktikum.Models.Pemesanan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pemesanan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jumlah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglPemesanan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglPemesanan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBarangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBarangNavigation.IdBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelangganNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPelangganNavigation.IdPembeli)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPesanan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
