@model IEnumerable<UcpPraktikum.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Barang")
            </th>
            <th>
                @Html.DisplayName("Jenis Barang")
            </th>
            <th>
                @Html.DisplayName("Harga Beli")
            </th>
            <th>
                @Html.DisplayName("Harga Jual")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaBeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaJual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBarang"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdBarang"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdBarang"><i class="fa fa-trash-alt fa-l"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
