@model UcpPraktikum.Models.Pembelian

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pembelian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jumlah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglPembelian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglPembelian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBarangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBarangNavigation.IdBarang)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSuplierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSuplierNavigation.IdSuplier)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPembelian" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
